Repository photomotionbv/mqtt-sysmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint, actionlint, jsonschema-configs

markdownlint:
  name: markdownlint
  entry: npx --yes markdownlint-cli
  language: system

yamllint:
  name: yamllint
  entry: yamllint -s
  language: system

actionlint:
  name: actionlint
  entry: actionlint
  language: system

jsonschema-configs:
  name: jsonschema (configs)
  entry: check-jsonschema --schemafile ./config.schema.json
  language: system

No need to "npm ci"
  .github/workflows/linter.yml
Due: yamllint, actionlint

Remove "rootfs" (part of the Docker-container)
  rootfs/usr/local/bin/sysmon
Due: none

Properly name workflows
  .github/workflows/develop.yaml
  .github/workflows/release.yml
Due: yamllint, actionlint

No package-lock.json present
  .github/workflows/linter.yml
Due: yamllint, actionlint

Minor updates to README.md
  README.md
Due: markdownlint

[STU-156] Clean-up and disconnect from Home Assistant (#1)
  .actrc
  .codespell-ignore
  .codespellrc
  .dockerignore
  .editorconfig
  .github/scripts/README.md
  .github/scripts/bins.d/hadolint
  .github/scripts/bins.d/shellcheck
  .github/scripts/bins.d/tdg
  .github/scripts/setup-pre-commit.sh
  .github/scripts/tdg-pre-commit.sh
  .github/workflows/develop.yaml
  .github/workflows/docker.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  .prettierrc.yaml
  .yamllint.yaml
  Dockerfile
  HISTORY.md
  LICENSE
  README.md
  extras/www/armbian.png
  extras/www/debian.png
  extras/www/raspbian.png
  extras/www/ubuntu.png
  install.sh
  rootfs/usr/local/bin/sysmon
  sysmon.sh
Due: markdownlint, yamllint, actionlint

Make it possible to add the topic name
  sysmon.sh
Due: none

Update the README.MD
  README.md
  sysmon.sh
Due: markdownlint

Update the readme
  README.md
Due: markdownlint

Minor tweaks
  .github/CODEOWNERS
  LICENSE
Due: none

Fixing feedbacks
  README.md
  sysmon.sh
Due: markdownlint

Last feedback
  sysmon.sh
Due: none

Add cleaning the mqtt topic
  sysmon.sh
Due: none

Update sysmon.sh
  sysmon.sh
Due: none

[STU-156] Adding configurable MQTT topic (#2)
  .github/CODEOWNERS
  LICENSE
  README.md
  sysmon.sh
Due: markdownlint

/ should be allowed
  sysmon.sh
Due: none

fix merging to main
  .github/workflows/release.yml
Due: yamllint, actionlint

[STU-156] Fix small oversight in topicname (#3)
  .github/workflows/release.yml
  sysmon.sh
Due: yamllint, actionlint

Fix merge to main
  .github/workflows/release.yml
Due: yamllint, actionlint

revert deployment changes
  .github/workflows/release.yml
Due: yamllint, actionlint

Remove device name from topic
  sysmon.sh
Due: none

Add the available disk space
  sysmon.sh
Due: none

update readme.md
  README.md
Due: markdownlint

[STU-187] Show available disk space (#4)
  README.md
  sysmon.sh
Due: markdownlint

Add wildcard pattern for wifi antenna
  sysmon.sh
Due: none

Preserve '_' in the topic name
  sysmon.sh
Due: none

Fix the feedback
  sysmon.sh
Due: none

Use camelCase
  sysmon.sh
Due: none

finalize
  sysmon.sh
Due: none

Code cleanup
  sysmon.sh
Due: none

Update the readme.md
  README.md
Due: markdownlint

Refactor and improve sysmon script
  sysmon.sh
Due: none

Need to buy a new keyboard with a working ...t...
  README.md
  sysmon.sh
Due: markdownlint

fix prettier
  README.md
Due: markdownlint

fix topix
  sysmon.sh
Due: none

Fix the readme.md
  README.md
Due: markdownlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  actionlint: any of: .github/workflows/.*\.ya?ml
  jsonschema-configs: any of: ^config\.example\.json$
